<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Add Trip</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.15.2/css/all.css}">
</head>

<body>

    <div class="container h3 text-center mt-4">Add Trip Details</div>

    <div class="container m-auto">

        <form th:action="@{/processAddTrip}" method="post" th:object="${trip}">
            <div class="form-row">
                <!-- First Name -->
                <div class="form-group col-md-6">
                    <label for="firstName"><i class="fa fa-user mr-2"></i>First Name</label>
                    <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="" minlength="2" maxlength="25" pattern="[a-zA-Z\- _.'`]{2,25}" title="Enter valid first name. Number's are not allowed" required>
                </div>
                <!-- Last Name -->
                <div class="form-group col-md-6">
                    <label for="lastName"><i class="fa fa-user mr-2"></i>Last Name</label>
                    <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="" pattern="[a-zA-Z\- _.'`]{2,25}" title="Enter valid last name. Number's are not allowed" minlength="2" maxlength="25" required>
                </div>
            </div>
            <div class="form-row">
                <!-- Email -->
                <div class="form-group col-md-6">
                    <label for="email"><i class="fa fa-envelope mr-2"></i>Email address</label>
                    <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" data-inputmask="'alias': 'email'" required>
                </div>
                <!-- Contact Number -->
                <div class="form-group col-md-6">
                    <label for="contactNumber"><i class="fa fa-phone-alt mr-2"></i>Contact Number</label>
                    <input type="text" th:field="*{contactNumber}" id="contactNumber" data-inputmask="'mask': '+1 (999) 999-9999'" placeholder="" class="form-control" aria-label="Contact Number" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <!-- Destination select option -->
                    <label for="destination"><i class="fa fa-plane-arrival mr-2"></i>Destination</label>
                    <select class="form-control selectpicker" th:onchange="distinationSelectChange(event)" id="destination" th:field="*{destinationId}" min="1" required>
						<option  value="" selected="selected">Select Destination</option>
						<option th:each="city : ${cities}"
							th:value="${city.id}" th:text="${city.city} + ' - ' + ${city.stateId} "></option>
					</select>
                </div>
                <div class="form-group col-md-6">
                    <!-- Origin select option -->
                    <label for="origin"><i class="fa fa-plane-departure mr-2"></i>Origin</label>
                    <select class="form-control selectpicker" id="origin" th:field="*{originId}" min="1" required>
						<option value="" selected="selected">Select Origin</option>
						<option
						th:id="'origin_'+${city.id}"
						 th:each="city : ${cities}"
							th:value="${city.id}" th:text="${city.city} + ' - ' + ${city.stateId} "></option>
					</select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="tripType"><i class="fa fa-suitcase-rolling mr-2"></i>Trip Type</label>
                    <div class="form-row">
                        <div class="form-group col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tripType" id="roundTrip" value="roundTrip" required>
                                <label class="form-check-label" for="roundTrip"><i class="fa fa-retweet mr-2"></i>Round Trip </label>
                            </div>
                        </div>
                        <div class="form-group col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tripType" id="oneWay" value="oneWay" required>
                                <label class="form-check-label" for="oneWay"><i class="fa fa-location-arrow mr-2"></i>One Way Trip </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Trip Date -->
                <div class="form-group col-md-6">
                    <label for="tripDate"><i class="fa fa-calendar-day mr-2"></i>Trip Date</label>
                    <input onchange="return tripDateChange()" type="date" th:field="*{tripDate}" class="form-control" id="tripDate" placeholder="xxxx" required>
                </div>
            </div>

            <div class="mt-2">
                <input type="submit" value="Submit" class="btn btn-primary btn-block mt-2 col-md-6 col-sm-8 col-auto m-auto">
            </div>

        </form>

    </div>

    <script>
        
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("tripDate").setAttribute("min", today);

        
        function distinationSelectChange(val) {
            // console.log(val);
            // console.log(val.value);
            // console.log(val.target.value);
            // console.log(" "+val);
            $('#origin_' + val.target.value).hide();
            $("#origin").val("");
        }
    </script>


    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{assets/inputmask/jquery.inputmask.min.js}"></script>

    <script type="text/javascript">
        
        $(":input").inputmask();

        
        function tripDateChange() {
            console.log("Hellos")
            console.log($("#tripDate").val());

            var fit_start_time = new Date().toLocaleDateString();
            var fit_end_time = new Date($("#tripDate").val());

            if (new Date(fit_end_time) <= new Date(fit_start_time)) {
                console.log("OKKKK");
                return false;
            } else return true;

        }
    </script>
</body>

</html>
